{% extends 'base.html' %}

{% block head %}
<title>Feedback</title>
{% endblock %}

{% block header %}
            <div class="logo-container">
                <span class="logo">AI</span>
            </div>
            <h1 class="take_quiz">
                <a href="#">Quizz</a>
            </h1>
{% endblock %}

{% block main %}
            <div class="score-box">
                <p>Quiz completed! you scored </p>
            </div>

            <div class="feedback-box">
                <h2 class="feedback-title">Feedback:</h2>
                <p class="feedback">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, consequatur provident! Eveniet harum nesciunt accusamus ullam dolorem, nobis sapiente autem aspernatur, culpa iste natus labore optio praesentium quod saepe neque.

                </p>
                <h3 class="resources">Resourses</h3>
                    <ul>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                
            </div>
            
            <div class="button">
                <nav class="feedback-nav">
                    <button class="nav-btn">Retry</button>
                    <button class="nav-btn">Chat</button>
                </nav>
            </div>
{% endblock %}